params.outdir = './output'

//Reduction params
params.nfeatures = 2000
params.min_cells = 3
params.min_features = 300
params.reduction = 'umap'
params.dim = 15

// Run Params
params.seed = 2025
docker.enabled = true 
process.container = 'genomicpariscentre/rstudio:nf_v0.1'
docker.runOptions = '-u $(id -u):$(id -g)'

// Trace
//params.tracedir      = "${params.outdir}/pipeline_info"

//def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

//timeline {
//    enabled = true
//    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
//}
//report {
//    enabled = true
//    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
//}
//trace {
//    enabled = true
//    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
//}
//dag {
//    enabled = true
//    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
//}

manifest {
    name            = 'scKenever'
    author          = 'GenomiqueENS'
    homePage        = 'https://github.com/GenomiqueENS/'
    description     = 'Benchmark of single-cell Nanopore long-reads methods'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '0.1'
}

