params.outdir = './output'

// 1-CompareToShortReads

params.nfeatures = 2000
params.min_cells = 3
params.min_features = 300
params.reduction = 'umap'
params.dim = 15
//params.cell_markers = NULL

// 2-UMI_transcript_assignment

params.data_corrected = './test_data/2-UMI_transcript_assignment/corrected_data'
params.data_raw= './test_data/2-UMI_transcript_assignment/raw_data'
params.size = 10000

// 3-Isoform Discovery

params.file = './GTF_samplesheet.csv'
params.true_positives = './test_data/3-Isoform_descovery/true_positives.gtf'

// 4-Comparison With Ground Truth

params.dedup_matrices = './test_data/4-UMI-dedup/'
params.qauntification_matrices = './test_data/4-Quantification/'
params.cell_annotation = './test_data/4-Cell_Annotation/cell_barcodes_celltypes.csv'


// Run Params
params.seed = 2025
docker.enabled = true 
process.container = 'genomicpariscentre/rstudio:nf_v0.1'
docker.runOptions = '-u $(id -u):$(id -g)'

manifest {
    name            = 'scKenever'
    author          = 'GenomiqueENS'
    homePage        = 'https://github.com/GenomiqueENS/'
    description     = 'Benchmark of single-cell Nanopore long-reads methods'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '0.1'
}

