params.file = './samplesheet.csv'

params.true_positives = '../test_data/3-Isoform_descovery/true_positives.gtf'

params.outdir = "${projectDir}/output"

// Run Params
params.seed = 2025
docker.enabled = true 
process.container = 'genomicpariscentre/rstudio:nf_v0.1'
docker.runOptions = '-u $(id -u):$(id -g)'

manifest {
    name            = 'scKenever'
    author          = 'GenomiqueENS'
    homePage        = 'https://github.com/GenomiqueENS/'
    description     = 'Benchmark of single-cell Nanopore long-reads methods'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '0.1'
}