
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scKenver-nf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

//process.executor = 'sge'
process.memory = '12G'
process.cpus = 4
process.penv = 'smp'
process.clusterOptions = '-S /bin/bash' 

params {

    
    tracedir                    = "${params.outdir}/pipeline_info"
    tmpdir                      = "${params.outdir}/tmp"
    scandir			= '01.readscan'
    mappingdir			= '02.mapping'
    umisdir			= '03.umis'
 	
    email		       = 'hamraoui@bio.ens.psl.eu'
    email_on_fail               = 'hamraoui@bio.ens.psl.eu'
    plaintext_email             = false
    monochrome_logs             = false
    help                        = false
    validate_params             = true
    show_hidden_params          = false
    enable_conda                = false
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

// Load base.config by default for all pipelines
// includeConfig 'conf/base.config'

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'scKenver v0.1'
    author          = 'Ali Hamraoui'
    homePage        = 'https://github.com/alihamraoui/scKenver'
    description     = 'Single-Cell sequencing methodology comparaison workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '2.1'
}